*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width:100vw;
  height: 100vh;
  position: relative;
  display:grid;
  grid-template-columns: 1000px;
  grid-template-rows: repeat(2,1fr);
  justify-content: center;
}
.canvas{
  position: relative;
  width:1000px;
  height:600px;
  border:2px solid black;
  background-image: url("../images/background.png");
}
#playField{
  display:block;
  width:1000px;
  height:600px;
}
.display{
  width:1000px;
  height:100px;
}
.content{
  font:1.5rem arial;
  border:5px solid black;
  display:grid;
  padding:10px;
  grid-template-columns: repeat(3,1fr);
}
.item{
  justify-self: center;
  align-self: center;
}
#start{
  width:100px;
  height:50px;
  margin:0;
  padding: 0;
  font:1.5rem arial;
  background-color: white;
  border-width:5px;
  border-color:rgb(131, 255, 249);
  color:black;
  border-radius:5px;
}
#start:hover{
  cursor: pointer;
  background-color: black;
  color:white;
}